<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.authorization.privilege.mapper.dsprivilegewrite.system.SysSystemWriteMapper" >

  <resultMap id="BaseResultMap" type="com.authorization.privilege.entity.dsprivelege.system.SysSystem" >
    <id column="sid" property="sid" jdbcType="VARCHAR" />
    <result column="system_name" property="systemName" jdbcType="VARCHAR" />
    <result column="system_key" property="systemKey" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="create_uid" property="createUid" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_uid" property="updateUid" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>


  <sql id="Base_Column_List" >
    sid, system_name, system_key, description, state, create_uid, create_time, update_uid, update_time
  </sql>


  <!-- 新增系统对象 -->
  <insert id="insertSelective" parameterType="com.authorization.privilege.entity.dsprivelege.system.SysSystem"
      useGeneratedKeys="true" keyProperty="sid">
    INSERT INTO sys_system
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        sid,
      </if>
      <if test="systemName != null" >
        system_name,
      </if>
      <if test="systemKey != null" >
        system_key,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="createUid != null" >
        create_uid,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateUid != null" >
        update_uid,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        #{sid,jdbcType=VARCHAR},
      </if>
      <if test="systemName != null" >
        #{systemName,jdbcType=VARCHAR},
      </if>
      <if test="systemKey != null" >
        #{systemKey,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="createUid != null" >
        #{createUid,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUid != null" >
        #{updateUid,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>


  <!-- 修改系统对象 -->
  <update id="updateByPrimaryKey" parameterType="com.authorization.privilege.entity.dsprivelege.system.SysSystem" >
    UPDATE sys_system
    SET system_name = #{systemName,jdbcType=VARCHAR},
      system_key = #{systemKey,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      create_uid = #{createUid,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_uid = #{updateUid,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    WHERE
      sid = #{sid,jdbcType=VARCHAR}
  </update>


  <!-- 修改系统对象(可选) -->
  <update id="updateByPrimaryKeySelective" parameterType="com.authorization.privilege.entity.dsprivelege.system.SysSystem" >
    UPDATE sys_system
        <set >
          <if test="systemName != null" >
            system_name = #{systemName,jdbcType=VARCHAR},
          </if>
          <if test="systemKey != null" >
            system_key = #{systemKey,jdbcType=VARCHAR},
          </if>
          <if test="description != null" >
            description = #{description,jdbcType=VARCHAR},
          </if>
          <if test="state != null" >
            state = #{state,jdbcType=INTEGER},
          </if>
          <if test="createUid != null" >
            create_uid = #{createUid,jdbcType=VARCHAR},
          </if>
          <if test="createTime != null" >
            create_time = #{createTime,jdbcType=TIMESTAMP},
          </if>
          <if test="updateUid != null" >
            update_uid = #{updateUid,jdbcType=VARCHAR},
          </if>
          <if test="updateTime != null" >
            update_time = #{updateTime,jdbcType=TIMESTAMP},
          </if>
        </set>
    WHERE
          sid = #{sid,jdbcType=VARCHAR}
  </update>


  <!-- 删除系统 -->
  <update id="delSysSystem" parameterType="com.authorization.privilege.vo.system.SysSystemVO">
    <if test="(sid != null and sid != '') or (sids != null and sids.size > 0)">
      UPDATE
        sys_system
      SET
        state = #{state}
      <trim prefix="WHERE" prefixOverrides="AND|OR">
        <if test="sid != null and sid != ''">
          AND sid = #{sid}
        </if>
        <if test="sids != null and sids.size > 0">
          AND sid IN
          <foreach collection="sids" item="eachSid" separator="," open="(" close=")">
            #{eachSid}
          </foreach>
        </if>
      </trim>
    </if>
  </update>


</mapper>